@model CreditAnalysis.Model.ClientCreditAnalysisModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Analise de credito</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" asp-controller="Home" enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onSendBegin"
              data-ajax-complete="onSendComplete"
              data-ajax-success="onSendSucess"
              data-ajax-failure="onSendFailure">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value=""></option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="FileUpload" type="file">
                        <span></span>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Ethnicity" class="control-label"></label>
            <input asp-for="Ethnicity" class="form-control" />
            <span asp-validation-for="Ethnicity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MaritalStatus" class="control-label"></label>
            <input asp-for="MaritalStatus" class="form-control" />
            <span asp-validation-for="MaritalStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Schooling" class="control-label"></label>
            <input asp-for="Schooling" class="form-control" />
            <span asp-validation-for="Schooling" class="text-danger"></span>
        </div>*@

            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="OwnHome" /> @Html.DisplayNameFor(model => model.OwnHome)
            </label>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ExtraSalary" /> @Html.DisplayNameFor(model => model.ExtraSalary)
            </label>
        </div>*@




            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="btnDoAction" />
                <span class="" role="status" aria-hidden="true" id="btnDoActionLoading"></span>
            </div>

            <div class="row" style="align-content:center">
                <img id="imageResult" alt="" style="max-width:300px" />
            </div>

            @*<button class="btn btn-primary" type="button" id="btnSend">
            <span class="" role="status" aria-hidden="true" id="btnSendLoading"></span>
            Loading...
        </button>*@

            <div id="formResults"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/services/CreditAnalysisService.js"></script>
}
